/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.form {
  display: inline-block;
  margin-left: 50px;
}

 .eqi-container {
   display: flex;
   justify-content: space-between;
 }

 .link {
   color: darkgreen;
   display: inline-block;
   position: relative;
   text-decoration: overline;
   font: 15px arial, sans-serif
 }

 #main {
   display: flex;
   flex: 1;
   overflow: scroll;
   background-color: snow;
 }

h4 {
  color: black;
  font: 22px arial, sans-serif;
  text-decoration: none;
  text-shadow: 1px 0px black;
}

 header > a {
   color: black;
   font: 22px arial, sans-serif;
   text-decoration: none;
   text-shadow: 1px 0px black;
 }

 header, footer {
   text-align: center;
   background: forestgreen;
   height: 5vh;
 }

 article {
   text_align: center;
   font: 18px arial, sans-serif;
 }


 header, footer, article{
   padding: 1em;
 }

 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   margin: 0;
 }
